.AboutCompanyPanel > .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 100;
    font-size: 2vw;
}

.AboutCompanyPanel .company span {
    display: block;
}

.AboutCompanyPanel .company .name {
    font-size: 3vw;
}

.AboutCompanyPanel .logo {
    margin: auto;
}

@media screen and (max-width: 600px) {
    .AboutCompanyPanel > .content {
        font-size: 12px;
    }
    .AboutCompanyPanel .company .name {
        font-size: 16px;
    }
}