/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.ic_call_white_24px {
  background-image: url(./sprite-24px-white.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
