.Navigation {
    display: block;
    overflow: auto;
    width: 100%;
    background-color: rgba(0, 0, 112, 0.72);
}

.Navigation > * {
    display: inline-block;
}

.Navigation .navItems {
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    list-style : none;
    text-align: center;
    margin: 0 0 0 20px;
    user-select: none;
    padding: 0;
}

.Navigation a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 20px 0 20px;
    clear: both;
}

.Navigation a.active {
    background-color: bisque;
}

.Navigation li {
    line-height: 60px;
    display: inline-block;
    cursor: pointer;
}
.Navigation .phone {
    color: white;
    float: right;
    margin-right: 20px;
    height: 60px;
}

.Navigation .phone > * {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
}

.Navigation .phone .icon {
    margin-top: 18px;
}

.Navigation.mobile {
    position: fixed;
    top: 0;
}

.Navigation .menuIcon {
    float: left;
    margin: 6px;
}

.Navigation.mobile .navItems {
    position: fixed;
    top: 60px;
    left: 0;
    margin: 0;
    display: block;
    width: 40%;
    height: auto;
    min-width: 320px;
    background-color: rgba(0, 0, 130, 0.82);
    overflow: visible;
}

.Navigation .navItem {
    position: relative;
}

.Navigation.desktop .navItem:after {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #009191;
}

.Navigation.desktop .navItem:last-child:after {
    display: none;
}

.Navigation.mobile li {
    display: block;
}