.Navigation {
    display: block;
    overflow: auto;
    width: 100%;
    background-color: rgba(0, 0, 112, 0.72);
}

.Navigation .logo {
    float: left;
    display: inline-block;
    width: 150px;
}

.Navigation .navItems {
    text-transform: uppercase;
    font-size: 18px;
    list-style : none;
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 60px;
    user-select: none;
    padding: 0;
}

.Navigation a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 20px 0 20px;
    clear: both;
}

.Navigation a.active {
    background-color: bisque;
}

.Navigation li {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    cursor: pointer;
}
